.dialog {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
    align-items: center;
    margin: 2px rgb(146, 184, 255) solid;

}

.dialog-body {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 110, 255);
    border-radius: 3px;
    width: 30%;
}

.dialog-title {
    background-color: #3e88ff;
    font-size: 12pt;
    padding: 4px;
    font-family: monospace sans-serif;
}

.content-dialog {
    padding: 4px;
    width: 100%;
    height: 100%;

    background-color: #e7eeff;
}

.footer-dialog {
    padding: 4px;
    background-color: #3381ff;
}

