@import url("./style.css");

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.menu {
  width: 71px;
  border-radius: 2px;
  background-color: rgb(234, 243, 250);
  border-right: 0.1px solid #929292;
  padding: 15px 5px 0 5px;
}

.menu-toggle {
  width: 265px;
}

.menu .item-menu {
  border-radius: 2px;
  padding-left: 10px;
  cursor: pointer;
}

.menu .item-menu:hover {
  background-color: #5d9bff4f;
}

.menu .item-menu label {
  display: none;
}

.menu.menu-toggle .item-menu label {
  display: block;
  align-self: flex-end;
  user-select: none;
  font-weight: 700;
  font-size: 12pt;
  cursor: pointer;
}